<h1>this is a new boat_views_new.</h1>

<%= form_for @boat, :html => { :multipart => true },  remote: true do |boat| %>
  <%= boat.label :name %>
  <%= boat.text_field :name%>

  <%= boat.label :location %>
  <%= boat.select :location,[["Miami"],["New York"],["Mexico"]]%>

  <%= boat.number_field :containers, :placeholder => "containers" %>

  <%= boat.submit "Create Boat" %>
<% end %>
